body{
    font-family: 'Quicksand', sans-serif;;
    background-color: #363840;
}
.login-form{
    background: rgb(42,42,199);
background: linear-gradient(0deg, rgba(42,42,199,1) 0%, rgba(239,0,255,1) 100%);
    text-align: center;
    margin: 7% 35%;
    border-radius: 10px;
    box-shadow: -4px 9px 35px -2px rgba(0,0,0,0.75);
}
.welcome{
    padding: 10 0;
}
form{
    text-align: left;
    padding: 10 50;
}
.form input{
    width: 100%;
    margin: 10 0;
    padding: 5 10;
    height: 3em;
    border: none;
    border-radius: 10px;
}
.form button{
    width: 100%;
    height: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
   background: rgb(9,9,121);
   background: linear-gradient(39deg, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 94%);
    color: wheat;
    font-size: 15px;
    border-radius: 10px;
}
.form .forgot a{
    text-decoration: none;
    color: white;
}
.forgot{
    padding: 10px;
}
@media screen and (max-width: 411px){
    .login-form{
        margin: 20vh 3% 0 3%;
    }
}
@media screen and (max-width:1024px){
    .login-form{
        margin: 15%;
        margin-top: 20vh;
    }
}
